@font-face {
    font-family: 'iconfont';  /* project id 1648488 */
    src: url('//at.alicdn.com/t/font_1648488_vdj31xep8lk.eot');
    src: url('//at.alicdn.com/t/font_1648488_vdj31xep8lk.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1648488_vdj31xep8lk.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1648488_vdj31xep8lk.woff') format('woff'),
    url('//at.alicdn.com/t/font_1648488_vdj31xep8lk.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1648488_vdj31xep8lk.svg#iconfont') format('svg');
  }